.container {
    @apply bg-transparent h-full w-full rounded-3xl border-2;
    border-style: solid;
}

.imgcontainer {
    @apply relative flex justify-center items-center;
    width: 100%;
}

.logo {
    @apply w-full bg-white rounded-3xl;
    background: linear-gradient(45deg, rgb(23, 2, 63) 0%, rgba(225, 5, 34, 0) 70%) repeat scroll 0% 0%, 
    linear-gradient(135deg, rgb(36, 112, 25) 10%, rgba(49, 5, 209, 0) 80%) repeat scroll 0% 0%, 
    linear-gradient(225deg, rgb(13, 87, 10) 10%, rgba(10, 219, 216, 0) 80%) repeat scroll 0% 0%,
    rgba(0, 0, 0, 0) linear-gradient(315deg, rgb(1, 252, 252) 100%, rgba(9, 245, 5, 0) 70%) repeat scroll 0% 0%;
    object-fit: cover;
}

.textcontainer {
    @apply flex flex-col justify-center text-left pl-5 w-full;
}

.text {
    @apply text-white;
}

.name {
    @apply text text-left font-bold;
    font-size: clamp(0.6rem, 1vw, 1rem); /* Adjust to rem based on viewport */
}

.name:hover {
    color: rgb(30, 192, 204);
}

.skills {
    @apply text text-left flex-wrap flex gap-x-2 gap-y-1;
}

.skill {
    @apply text border rounded-3xl border-transparent px-2;
    font-size: clamp(0.5rem, 0.75vw, 0.75rem); /* Adjusting font-size with rem */
    background-color: rgb(0, 60, 128);
    color: rgb(30, 192, 204); 
}

.titledate {
    @apply flex items-center justify-between w-full;
    font-size: clamp(0.5rem, 0.75vw, 0.75rem); /* Using rem/ em with clamp */
    flex-wrap: nowrap;
}

.description {
    @apply text my-1;
    color: rgb(146, 157, 170);
    font-size: clamp(0.5rem, 0.75vw, 0.75rem); /* Font-size adjusted using rem */
}
