:root {
  --scroll: 0;
}

.screenFiller {
  @apply flex flex-col items-center justify-center h-screen text-center h-dvh w-[calc(100vw-(100vw-100%))] bg-transparent;
}

.text {
  @apply font-sans font-medium;
  opacity: calc(1 - 2 * var(--scroll));
}

.title {
  font-size: clamp(4rem, 10vw, 10rem);
  @apply text text-white mt-20;
  animation: fadeIn 2s;

}

.subtitle {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  @apply text text-white text-left -mt-10;
  animation: fadeIn 1.5s;

}

.subtitlelist h2{
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  @apply text text-white text-left -mt-3;
  opacity: 0;
}

.subsubtitle1{
  animation: scroll-in1 0.5s ease forwards;
  animation-delay: var(--delay, 1.5s);
}
.subsubtitle2{
  animation: scroll-in2 0.5s ease forwards;
  animation-delay: var(--delay, 1.5s);
}
.subsubtitle3{
  animation: scroll-in3 0.5s ease forwards;
  animation-delay: var(--delay, 1.5s);
}
.subsubtitle4{
  animation: scroll-in4 0.5s ease forwards;
  animation-delay: var(--delay, 1.5s);
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scroll-in1{
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: calc(1 - 2 * var(--scroll));
    transform: translateY(0);
  }
}

@keyframes scroll-in2 {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: calc(1 - 2 * var(--scroll));
    transform: translateY(0);
  }
}
@keyframes scroll-in3 {
  from {
    opacity: 0;
    transform: translateY(-300%);
  }
  to {
    opacity: calc(1 - 2 * var(--scroll));
    transform: translateY(0);
  }
}
@keyframes scroll-in4 {
  from {
    opacity: 0;
    transform: translateY(-400%);
  }
  to {
    opacity: calc(1 - 2 * var(--scroll));
    transform: translateY(0);
  }
}

