.container {
    @apply flex bg-transparent h-full w-full p-5 border-2 border-transparent rounded-xl;
    border-style: solid;
    transition: background-color 0.5s ease; /* Adds smooth transition for background color */
}

.imgcontainer {
    @apply relative flex justify-center items-center pr-3;
    width: 35%;
}

.logo {
    @apply w-full;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.textcontainer {
    @apply flex flex-col justify-center text-left pl-5 w-full border-l-2;
    border-image: linear-gradient(to bottom, #111, #eee, #111) 1 100%;
}

.text {
    @apply text-white;
}

.name {
    @apply text text-left font-bold;
    font-size: clamp(1rem, 1vw, 1.25rem); /* Using Tailwind's clamp for font sizes */
}

.container:hover {
    background-color: rgba(59, 59, 59, 0.5); /* Slightly transparent background */
}

.container:hover .name {
    color: rgb(30, 192, 204);
}

.container:hover .textcontainer {
    border-image: linear-gradient(to bottom, rgba(59, 59, 59, 0.5), #eee, rgba(59, 59, 59, 0.5)) 1 100%;
}

.title {
    @apply text text-left;
    color: rgb(179, 189, 202);
    font-size: text-base; /* Standard base font size in Tailwind */
}

.date {
    @apply text text-right;
    color: rgb(179, 189, 202);
    font-size: text-base; /* Standard base font size in Tailwind */
}

.skills {
    @apply text text-left flex-wrap flex gap-x-2 gap-y-1;
}

.skill {
    @apply text border rounded-3xl border-transparent px-2;
    font-size: text-sm; /* Standard Tailwind small font size */
    background-color: rgb(0, 60, 128);
    color: rgb(30, 192, 204);
}

.titledate {
    @apply flex items-center justify-between w-full;
    font-size: text-xs; /* Standard Tailwind extra small font size */
    flex-wrap: nowrap;
}

.description {
    @apply text my-1;
    color: rgb(146, 157, 170);
    font-size: text-sm; /* Standard Tailwind small font size */
}
